<!-- Portfolio Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div
      class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <h6 class="position-relative d-inline text-primary ps-4">Our Projects</h6>
      <h2 class="mt-2">Recently Launched Projects</h2>
    </div>
    <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
      <div class="col-12 text-center">
        <ul class="list-inline mb-5" id="portfolio-flters">
          <li class="btn px-3 pe-4 active" data-filter="*">All</li>

          <% projectTypes.forEach((type) => { %>
          <li class="btn px-3 pe-4" data-filter=".<%= type.name %>">
            <%= type.name %>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <div class="row g-4 portfolio-container">
      <% let delay = 0.1; %>
      <!-- Initialize delay for animation -->
      <% projects.forEach((project, index) => { %>

      <div
        class="col-lg-4 col-md-6 portfolio-item <%= project.projectCategory.name %> wow zoomIn"
        data-wow-delay="<%= delay.toFixed(1) %>s"
      >
        <div class="position-relative rounded overflow-hidden">
          <img
            class="img-fluid w-100"
            src="<%= project.image %>"
            alt="<%= project.name %>"
          />
          <div class="portfolio-overlay">
            <a
              class="btn btn-light"
              href="<%= project.image %>"
              data-lightbox="portfolio"
              ><i class="fa fa-plus fa-2x text-primary"></i
            ></a>
            <div class="mt-auto">
              <small class="text-white"
                ><i class="fa fa-folder me-2"></i><%=
                project.projectCategory.name %></small
              >
              <a
                class="h5 d-block text-white mt-1 mb-0"
                href="<%= project.link %>"
                ><%= project.name %></a
              >
            </div>
          </div>
        </div>
      </div>

      <% if ((index + 1) % 3 === 0) { %> <% delay = 0.1; %>
      <!-- Reset delay after every 3 items -->
      <% } else { %> <% delay += 0.2; %>
      <!-- Increment delay for other items -->
      <% } %> <% }) %>
    </div>
  </div>
</div>
<!-- Portfolio End -->
