<!-- Testimonial Start -->
<div
  class="container-xxl bg-primary testimonial py-5 wow fadeInUp"
  data-wow-delay="0.1s"
  style="margin: 6rem 0"
>
  <div class="container py-5 px-lg-5">
    <div class="owl-carousel testimonial-carousel">
      <% reviews.forEach((review) => { %>
      <div
        class="testimonial-item bg-transparent border rounded text-white p-4"
      >
        <i class="fa fa-quote-left fa-2x mb-3"></i>
        <p><%= review.message %></p>
        <div class="d-flex align-items-center">
          <img
            class="img-fluid flex-shrink-0 rounded-circle"
            src="<%= review.avatar %>"
            alt="<%= review.reviewer %>"
            style="width: 50px; height: 50px"
          />
          <div class="ps-3">
            <h6 class="text-white mb-1"><%= review.reviewer %></h6>
            <small><%= review.profession %></small>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<!-- Testimonial End -->
